body {
    background-color: lightcyan;
    color: darkslategrey;
}

table {
    width: 100%;
    padding: 1px;
    border: 2px double;

}
thead, tfoot {
    width: 100%;
}
td {
    border-style: double;

}